/// Font family


$mm: "Montserrat-Medium";
$mb: "Montserrat-Bold";
$mr: "Montserrat-Regular";
$meb: "Montserrat-ExtraBold";


$fontName: ($mm, $mb, $mr,$meb);

/// Font size
$f12:1.2rem;
$f16:1.6rem;
$f24:2.4rem;
$f60:6rem;




/// Line-height

$l24:2.4rem;


/// Letter-spacing

$ls0: 0;
$ls2: 0.2rem;



