// adaptive header

@media screen and (min-width:901px) {

    .burger-wrap {
        display: none !important;
    }


}

@media screen and (min-width:769px) {
    .mobile_logo {
        display: none;
    }
}



@media screen and (max-width:1400px) {

    html,
    body {
        font-size: 55%;
    }

}

@media screen and (max-width:1200px) {

    html,
    body {
        font-size: 45%;
    }


}

@media screen and (max-width:901px) {

    html,
    body {
        font-size: 62.5%;
    }

    .heading__text {
        font-size: 3.6rem;
        line-height: 4.8rem;
    }

    .title {
        padding-top: 18.9rem;
        padding-bottom: 11.7rem;
    }

    .slogan {

        max-width: 65.6rem;
        min-width: 65.6rem;

    }

    .logo {
        order: 1
    }

    .menu {
        order: 3;

    }

    .contact {
        order: 2;
        display: flex;
        flex-direction: row;
        width: 38rem;
        align-items: baseline;
        justify-content: space-between;
    }

    .menu {
        display: none;
    }




    .lang__list {
        padding-top: 0;
    }

    .advantages {

        .content__item {
            max-width: 50%;
        }

    }



    .works {

        .content__item_width {
            max-width: 100%;

            &:nth-child {}
        }

        .works-content {
            background-image: url('../img/gridWorks.svg');
            background-position: center 2rem;
            background-size: 30rem;

        }

        .content__item-description {
            padding-bottom: 0rem;
        }

        .content__item-title {
            padding-top: 5rem;
        }

    }

    .services {
        .content__item_size {
            max-width: 30%;
            width: 100%;
            margin-bottom: 3rem;

        }
    }

    .services-content {
        justify-content: space-around;
        max-height: 100%;
        min-height: 100%;

    }

    .products {
        padding-left: 2rem;
        padding-right: 2rem;

        .products__item {
            margin: 0 auto;
            margin-bottom: 4rem;
        }


    }

    .contact-form {

        .map {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .contacts {
            order: 2;
        }

        .form-wrap {
            order: 1;
            margin-bottom: 5rem;
        }
    }


}

@media screen and (max-width:769px) {

    .title {
        padding-left: 2rem;
        padding-right: 2rem;
        background-position: 67% center;
    }

    .decstop_logo {
        display: none;
    }



    .contact {
        display: none;
    }

    .slogan {
        min-width: auto;
        max-width: 75%;
        width: 100%;
    }

    .services {
        padding-left: 0rem;
        padding-right: 0rem;

        .content__item_size {
            max-width: 40%;
            width: 100%;
            margin-bottom: 3rem;

        }
    }

    .portfolio {

        .slide-item {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        .arrow-wrap {
            display: none;
        }
    }

    .team {

        .slide-item {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        .arrow-wrap {
            display: none;
        }
    }

    .case {

        .slide-item {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        .arrow-wrap {
            display: none;
        }
    }

    .contact-form {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 15rem;
        padding-bottom: 15rem;
    }


}

@media screen and (max-width:691px) {
    .team {
        .team-item {
            margin: 0 auto;
            max-width: 100%;
        }

        .team-arrow {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }

    .case {
        .case-item {
            margin: 0 auto;
            max-width: 100%;
        }

        .case-item__img {
            width: 100%;
        }

        .team-arrow {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }

}


@media screen and (max-width:640px) {
    .title {
        .cost__button {
            padding: 2.4rem 1rem;
            min-width: 30rem;

        }

        .slogan {

            max-width: 85%;
            width: 100%;
        }

        .title {
            padding-bottom: 13rem;
        }
    }

    .advantages {
        padding-bottom: 10rem;
    }

    .works {
        padding-top: 10rem;
    }

    .services {
        padding-top: 10rem;

        .content__item_size {
            max-width: 45%;


        }

        .content__item__button {
            padding: 2.4rem 1rem;
            min-width: 30rem;

        }
    }

    .portfolio {
        padding-top: 5rem;
        padding-bottom: 5rem;

        .content__item__button {
            padding: 2.4rem 1rem;
            min-width: 28rem;
            max-width: 28rem;

        }

    }



    .products {
        padding-top: 5rem;
        padding-bottom: 5rem;

        .products__item {
            margin: 0 auto;
            margin-bottom: 2rem;
        }

        .products__text {
            font-size: 3.6rem;
        }


    }

    .team {
        padding-top: 5rem;
        padding-bottom: 5rem;

        .content__item__button {
            padding: 2.4rem 1rem;
            min-width: 28rem;
            max-width: 28rem;

        }

 


    }

    .case {
        padding-top: 5rem;
        padding-bottom: 5rem;

        .content__item__button {
            padding: 2.4rem 1rem;
            min-width: 28rem;
            max-width: 28rem;

        }

    }

    .contact-form {
        background-position: center bottom;
        background-size: 107rem;
        padding-top: 5rem;
        padding-bottom: 5rem;

        .map {
            justify-content: flex-end;
        }

        .form-wrap{
            margin-bottom: 10rem;
            width: 100%;
        }

        .contacts {
            max-width: 85%;
            width: 100%;
            padding:2rem;
        }
        .form__submit {
            max-width: 95%;
            width: 100%;
            padding-left:0;
            padding-right:0;
        }
    }

}

@media screen and (max-width:460px) {
    .header {
        padding-top:1.5rem
    }
    .title {
        padding-top:8rem;
        .slogan {

            max-width: 100%;
            width: 100%;

        }

        .cost__button {
            font-size: 1.4rem;

        }
    }

    .heading-section__text {
        font-size: 3.6rem;
    }

    .advantages {

        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 5rem;

        .content__item {
            max-width: 100%;
        }

        .content__item-description {
            padding-bottom: 7rem;
        }

        .heading-section__text {
            font-size: 3.6rem;
        }

    }

    .works {
        padding-bottom: 5rem;
        padding-top: 5rem;
    }

    .services {
        padding-bottom: 5rem;
        padding-top: 5rem;

        .content__item_size {
            max-width: 100%;
            height: 9rem;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;



        }

        .content__item__button {
            font-size: 1.4rem;
            min-width: auto;
            width: 100%;
            border-radius: 3rem;

        }

        .content__item-img_size {
            width: 5rem;
            margin-left: 2rem;


        }

        .content__item-description {
            width: auto;
            margin: 0;
            margin-left: 2rem;
            padding-top: 0;

        }

        .content__item-title_left {
            margin-left: 0;
        }

        .content__item_double_width {
            width: 100%;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    .services-content {
        max-width: 100%;
    }

    .portfolio {

        .slide-item {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        .content__item__button {
            font-size: 1.4rem;
            min-width: auto;
            width: 100%;
            border-radius: 3rem;

        }


    }


    .products {
        .products__text {
            font-size: 2.6rem;
            line-height: 3.4rem;
        }
    }

    .team {

        .slide-item {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        .case {

            .slide-item {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
        }

        .content__item__button {
            font-size: 1.4rem;
            min-width: auto;
            width: 100%;
            border-radius: 3rem;

        }


    }

    .contact-form {

        .contacts {
            max-width: 95%;
        }

        .tabs_contacts {
            padding: 0.6rem 2rem;
        }

        .form-wrap {
            padding:2rem;
        }
    }

}



@media screen and (max-width:340px) {

    .header-wrap {
        max-width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }


}