.title {

    background-image: url("../img/backfon-min.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top:28.9rem;
    padding-bottom:21.7rem;
}