.container {
    position: relative;
    overflow: hidden;
  
}

.hideSection{
    display:none!important;
}

// Header

.header {
   width: 100%;
   max-width: 100%;
   padding-top: 5.2rem;
   position: absolute;
   top:0;
}

.header-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 89.58333%;
    width:100%;
    margin:0 auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    position: static;
}

.logo {
    width:100%;
    min-width:25.3rem;
    max-width: 25.3rem;
    flex-grow: 1;
    
}

.menu {
    width:80.1%;
    text-align: center;
}

.contact {
  
    width: 12.2%;
    min-width:23rem;
    text-align: right;
}